.progress-bar-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 20px;
  background: #ff5e33;
}

header {
  background-color: antiquewhite;
  position: fixed;
  width: 100vw;
  height: auto;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90px;
  text-decoration: none;
}

.logo-container img {
  width: 150px; /* 원하는 너비 값으로 설정 */
  height: 100px;
  padding-top: 30px;
  margin-right: 10px;
}

#logo_font {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  padding-top: 30px;
  color: #ff5e33;
  font-family: "omyu_pretty";
}

.head li {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
  font-family: "omyu_pretty";
}

.head li a {
  text-decoration: none;
  color: black;
}

.head.bar {
  display: flex;
  margin-left: 900px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 200px;
}

.head.bar li {
  text-align: 30px;
  line-height: 40px;
  padding-right: 3px;
  font-size: 20px;
}

.head.menu {
  display: flex;
  justify-content: center;
  height: 40px;
  padding-bottom: 10px;
}
.head.menu li {
  text-align: 50px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  padding-right: 20px;
}

main {
  padding-top: 10px;
}

main section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #mainpage {
  background-color: white;
}

main #slide {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

main #slide img {
  padding-left: 10px;
  max-width: 500px;
  border-radius: 10%;
}

main #categorize {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #f8cdc1;
  width: 100vw;
  height: 200px;
}

main #categorize img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 50px;
}

main #section1 {
  background-color: rgb(238, 200, 200);
}

main #login {
  background-color: rgb(231, 187, 231);
}

main #register {
  background-color: rgb(236, 236, 138);
}

main #category {
  background-color: rgb(138, 140, 241);
}

main #waiting {
  background-color: rgb(141, 212, 153);
}

main #quickreservation {
  background-color: rgb(221, 147, 147);
}

main #HOT {
  background-color: rgb(130, 211, 161);
}

main #EVENT {
  background-color: rgb(129, 201, 191);
}

main #section6 {
  background-color: rgb(223, 144, 197);
}
main #mypage {
  background-color: rgb(154, 219, 198);
}
main #top {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#top a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
